# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app

# Files
calls*
core
mvh
mvh_server
tags
.*
*.txt
divergence
out
exploit
mvh_exploit
mremote_shellcode
shellcode
tinyweb
tinyweb_vuln

#Folders
result/*

